<div class="container md:w-[48rem] mx-auto p-2 md:p-0">

  <div class="flex flex-row space-x-4 mt-4 md:mt-10">

    <select class="bg-gray-200 rounded-full hover:bg-gray-300 border-0 outline-none focus:outline-none">
      <option value="Status" selected>Status</option>
      <option value="Published">Published</option>
      <option value="Draft">Draft</option>
    </select>

    <select class="bg-gray-200 rounded-full hover:bg-gray-300 border-0 outline-none focus:outline-none">
      <option value="Category" selected>Category</option>
      <option value="Published">Default</option>
      <option value="Draft">Rails</option>
    </select>

  </div>

  <div class="flex flex-col bg-white border rounded md:mt-10 mt-4">
    <% @articles.each do |a| %>
      <div class="flex flex-col border-b space-y-1 py-2 px-4 hover:bg-gray-100">
        <div class="flex flex-row items-center justify-between">
          <div class="flex flex-col">
            <div class="w-full">
              <%= link_to a.title, edit_admin_article_path(a), class: "hover:underline hover:text-blue-700", title: "Go edit #{a.title}" %>
            </div>
            <div class="w-full">
              <div class="text-sm text-gray-400 flex items-center flex-row">
                <date class="text-gray-400"><%= a.created_at.strftime('%m/%d/%Y') %></date>
              </div>
            </div>
          </div>
          <div class="flex items-center space-x-2">
            <% if a.is_draft? %>
              <span class="bg-gray-100 rounded-full px-2 py-1 border text-xs"><%= a.status %></span>
            <% end %>
            <%= link_to 'Delete', admin_article_path(a), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "text-sm text-gray-500 hover:text-red-600" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
