<div class="container mt-4 mt-md-5" data-controller="editor">
  <div class="row">
    <div class="col-12 col-md-9 ">
      <div class="bg-white border rounded-3 p-2 p-md-4 mb-2">
        <div class="col-12 mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" placeholder="I have a dream">
        </div>
        <div class="col-12 mb-3" x-data="{ preview: false, content: ''}" x-init="$watch('content', update_content_preview)">
          <div class="d-flex align-items-center justify-content-between pt-2 pb-2">
            <label for="content" class="form-label">Content</label>
            <div class="btn-group btn-group-sm" role="group">
              <button type="button" class="btn btn-primary" :class="preview || 'active'" @click="preview=false">Write</button>
              <button type="button" class="btn btn-primary" :class="!preview || 'active'" @click="preview=true">Preview</button>
            </div>
          </div>
          <textarea x-show="!preview" x-model="content" class="form-control" id="content" rows="20" placeholder="One day..."></textarea>
          <div x-show="preview" id="content-preview" class="border p-3 rounded"></div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-3">
      <div class="row">
        <div class="col-12 mb-3">
          <label for="categories" class="form-label">Category</label>
          <select class="form-select" id="categories">
            <option value="1">Default</option>
            <option value="2">Life</option>
          </select>
        </div>
        <div class="col-12 mb-3">
          <label for="date" class="form-label">Date</label>
          <input type="datetime-local" class="form-control" id="date">
        </div>
        <div class="col-12 mb-3 d-grid gap-2">
          <button class="btn btn-primary">Publish</button>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
    function update_content_preview(value) {
        document.getElementById('content-preview').innerHTML = marked.parse(value);
    }
</script>
