<div>
  <h3>Articles of <%= @category.name %></h3>
  <% if @articles.empty? %>
  <i>There are no articles in this category.</i>
  <% end %>
  <% @articles.each do |a| %>
    <div>
      <%= link_to a.title, article_path(a) %>
    </div>
  <% end %>
  <%= render "blog/category" %>
</div>